.welcome {
  padding: 30px 15px;
  margin-bottom: 30px;
  border-radius: 30px;
    max-width: 100%;
    width: auto
}


#school { 
    background: url("http://i1276.photobucket.com/albums/y472/CrinkillNS/02Crinkle_zpsc3cfd71b.jpg") no-repeat;
    background-size: cover;

}

img{
    
max-height: 100%
}

h1
{
    color: white;
    font-family: serif;
    text-shadow: black 0px 0px 20px;
}

p
{
    color: black;
}

.content{
padding: 2%;
background-color: #82A7CC;
border-radius: 4%;
text-align: center;
}

h1
{
colour: #2582A4; 

}

body{
background-color: #415466;
);

    padding: 3%;
}

.news
{
    border-radius: 20px;
    padding: 40px;
    background: repeating-linear-gradient(
  45deg,
  rgba(0, 0, 0, 0.2),
  rgba(0, 0, 0, 0.2) 10px,
  rgba(0, 0, 0, 0.3) 10px,
  rgba(0, 0, 0, 0.3) 20px
),
url(http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/old_map_@2X.png);
}

.circular {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 400px;
	height: 200px;
	border-radius: 40px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://lorempixel.com/g/400/200/) no-repeat;

	}
