/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
    background: url({{ STATIC_FILES }}/img/brick-wallpaper-112768510349JN4.jpg);
}

h1{
font-family: "Lobster", cursive;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

p{
font-family: 'Amatic SC', cursive;
color: black;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.transparent{
    padding: 10px;
  background:rgba(255,255,255,0.8);
}

.content{
padding-top: 2%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 1%;
background:rgba(255,255,255,0.8);
border-radius: 7px;
    
}

.jumbotron{
background: url(http://i1164.photobucket.com/albums/q578/sweetabsinthekid/enhanced-buzz-7346-1372715771-16_zpsq6dgfvuu.jpg) cover no-repeat; 
}

