/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
    background: 
url("http://i1164.photobucket.com/albums/q578/sweetabsinthekid/brick-wallpaper-112768510349JN4_zpsfmlavvut.jpg");
}

.contains {
height: 40%;
weight: 50%;
margin-left: auto;
margin-right: auto
}

 h1{
font-family: "Lobster", cursive;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-left: auto;
    margin-right: auto;    
}

.contains h2, h3, p{
font-family: 'Amatic SC', cursive;
color: black;
margin-left: auto;
margin-right: auto;
font-size; 130%;
text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.transparent{
    padding: 10px;
  background:rgba(255,255,255,0.8);
}

.content{
padding-top: 2%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 1%;
background:rgba(255,255,255,0.8);
border-radius: 7px;
    
}

.jumbotron{
background: url("http://i1164.photobucket.com/albums/q578/sweetabsinthekid/enhanced-buzz-7346-1372715771-16_zpsq6dgfvuu.jpg") cover no-repeat; 
}

.contains img{
max-height: 100%;
max-width: 100%;
}
 
.contains h1{
font-family: "Lobster", cursive;
font-size: 200%;
font-weight: 400;
}
